<div class="creation-container">
  <mat-card>
    <mat-card-header>
      <mat-card-title>Add new employee</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="editing-container">
        <mat-form-field>
          <input matInput [(ngModel)]="employee.fullname" placeholder="Fullname">
        </mat-form-field>
        <mat-form-field>
          <input matInput [(ngModel)]="employee.position" placeholder="position">
        </mat-form-field>
        <mat-form-field>
          <input matInput [(ngModel)]="employee.salary" placeholder="Salary">
        </mat-form-field>
        <mat-form-field>
          <input matInput [(ngModel)]="employee.employment_date" placeholder="Employment date">
        </mat-form-field>
        <mat-form-field>
          <input matInput [(ngModel)]="employee.superior" placeholder="Superior by id">
        </mat-form-field>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button (click)="create()">CONFIRM</button>
      <button mat-button (click)="goBack()">GO BACK</button>
      <div *ngIf="error" class="error-message">
        <span>{{error}}</span>
        <button mat-button (click)="clearError()">clear</button>
      </div>
    </mat-card-actions>
  </mat-card>
</div>
